body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: lightgreen;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

#home {
    background-size: cover;
    color: white;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(0px, -50px);
    z-index: 0;
}

#appointment {
    background-image: url('assets/appointment-bg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
#experts {
    background-image: url('assets/experts-bg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#services {
    background-image: url('assets/services-bg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

h1, h2 {
    margin-bottom: 30px;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the area */
}

.carousel-indicators {
    bottom: 125px;
    z-index: 5;
}

.carousel-indicators li {
    background-color: #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.contact-us {
    color: black;
    transform: translate(0px, -250px); 
    background-color: lightgreen;
    border-radius: 25px;
    align-content: center;
    height: 110px;
    margin-left: 60vh;
    margin-right: 60vh;
    padding-top: 10px;
}

.services-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    margin-right: 30vh;
    margin-left: 30vh;
    transform: translate(0px, 20px); 
    z-index: 5;
}

.services-container::-webkit-scrollbar {
    height: 20px;
}

.services-container::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

.services-container::-webkit-scrollbar-thumb:hover {
    background-color: darkgreen;
}

.experts-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    margin-right: 30vh;
    margin-left: 30vh;
    transform: translate(0px, 20px); 
    z-index: 5;
}

.experts-container::-webkit-scrollbar {
    height: 20px;
}

.experts-container::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

.experts-container::-webkit-scrollbar-thumb:hover {
    background-color: darkgreen;
}

.card {
    flex: 0 0 auto;
    margin: 0 15px;
    width: 300px;
    color:black;
    background-color: lightgreen;
    padding: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.form-group {
    margin: 10px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.form-control {
    width: auto;
    display: inline-block;
    max-width: 200px;
    background-color: lightgreen;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar-custom {
    background-color: lightgreen; /* Change this to your desired color */
}

.book-button {
    background-color: green; /* Bootstrap primary color */
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}